# ChatOps Framework 環境変数設定例
# このファイルを .env にコピーして値を設定してください

DATABASE_URL=mysql+pymysql://root:password@localhost:3307/chatops
SLACK_PROXY_URL=http://localhost:8081/post
WORKER_POLLING_INTERVAL=5
WORKER_MAX_CONCURRENCY=4
WORKER_MAX_RETRY_COUNT=3
WORKER_RETRY_DELAY_SECONDS=60
PLUGIN_COMMAND_TIMEOUT=30
# PLUGIN_COMMAND_PATH=/usr/local/bin
